{% extends 'accounts/emails/base_email.html' %}

{% block email_title %}Reset Your Password{% endblock %}

{% block header_title %}Password Reset{% endblock %}

{% block content_title %}Reset Your Password{% endblock %}

{% block content %}
<p>Hello{% if user.first_name %} {{ user.first_name }}{% endif %},</p>

<p>We received a request to reset your password. If you made this request, please click the button below to create a new password:</p>
{% endblock %}

{% block action_button %}
<div class="text-center">
    <a href="{{ site_url }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" class="btn">Reset Password</a>
</div>

<div class="text-small text-center text-muted mt-4">
    <p>Or copy and paste this link into your browser:</p>
    <p>{{ site_url }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</p>
</div>
{% endblock %}

{% block additional_info %}
<div class="alert alert-info">
    <p>This password reset link will expire in 24 hours.</p>
</div>

<div class="alert alert-warning">
    <p>If you didn't request a password reset, please ignore this email or contact support if you have concerns.</p>
</div>
{% endblock %}