{% extends 'accounts/emails/base_email.html' %}

{% block email_title %}Password Changed Successfully{% endblock %}

{% block header_title %}Password Changed{% endblock %}

{% block content_title %}Your Password Has Been Changed{% endblock %}

{% block content %}
<p>Hello{% if user.first_name %} {{ user.first_name }}{% endif %},</p>

<p>We're writing to confirm that your password was changed successfully on {% now "F j, Y" %} at {% now "H:i" %}.</p>

<p>If you made this change, you can safely ignore this email.</p>
{% endblock %}

{% block additional_info %}
<div class="alert alert-warning">
    <p><strong>Important:</strong> If you did not change your password, please contact us immediately or <a href="{{ site_url }}{% url 'accounts:password_reset' %}">reset your password</a> to secure your account.</p>
</div>

<div class="divider"></div>

<p class="text-small">
    <strong>Account:</strong> {{ user.email }}<br>
    <strong>Date:</strong> {% now "F j, Y, H:i" %}<br>
    <strong>IP Address:</strong> {{ ip_address }}
</p>
{% endblock %}

{% block closing %}
<p>For security reasons, we recommend:</p>
<ul>
    <li>Using a unique password for each of your online accounts</li>
    <li>Enabling two-factor authentication when available</li>
    <li>Regularly checking your account for any suspicious activity</li>
</ul>
<p>Thanks,<br>The Security Team</p>
{% endblock %}